@use '../../Styles/Abstracts/variables' as *;



.main {

    margin-top: $sz-240;
    
    @media(min-width: $min-width-desktop) {
        margin-top: $sz-320;
    
    }


&__questions {

    display: flex;
    flex-direction: column;
  
    
&__questionAnswer {

    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $clr-accent-light-pink;
    padding-block: $sz-200;

    @media(min-width: $min-width-desktop) {
        padding-block: $sz-240;
    }

    &__hidden {
        visibility: hidden;
        opacity: 0;
        max-height: 0px;
        
        transition: visibility 1s ease-in-out, opacity 1s ease-in-out, max-height 1s ease-in-out;
        
    }

    &__visible {
       visibility: visible;
       margin-top: $sz-240;
       max-height: 100px;
       opacity: 1;
       height: auto;
       transition: opacity 1s ease-in-out, max-height 1s ease-in-out;
       

    }
}  

&__tile {

   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    

    h2{
        font-family: $ff-primary;
        font-size: $fs-160;
        font-weight: $fw-600;

        @media(min-width: $min-width-desktop) {
            font-size: $fs-180;

            &:hover {
                cursor: pointer;
                color: $clr-accent-purple;
            }
        }
    }

    

    img {
        width: 30px;
        height: 30px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        position: absolute;
        right: 0;

        @media(min-width: $min-width-desktop) {
            &:hover {
                cursor: pointer;
            }
        }
    }
}


p {
    font-family: $ff-secondary;
    font-size: $fs-140;
    font-weight: $fw-400;
    color: $clr-neutral-300;
   

    @media(min-width: $min-width-desktop) {
        font-size: $fs-160;
    }
}
}

[data-border-none] {
    border-bottom: none;
}

}